.projects {

	&__filter {
		margin-bottom: 67px;

		@media screen and (max-width: 1440px) {
			margin-bottom: 60px;
		}

		@media screen and (max-width: 1200px) {
			margin-bottom: 56px;
		}

		@media screen and (max-width: 768px) {
			margin-bottom: 45px;
		}

		&_tags {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: rem(24);

			@media screen and (max-width: 1200px) {
				gap: 20px;
			}

			@media screen and (max-width: 768px) {
				gap: 16px;
			}
		}

		&_tag {
			padding: 20px 38px;
			border-radius: 60px;
			border: 2px solid $clrBlue;
			color: $clrBlue;
			font-weight: 500;
			cursor: pointer;
			transition: all 0.3s;

			@media screen and (max-width: 1440px) {
				padding: 16px 32px;
			}

			@media screen and (max-width: 1200px) {
				font-size: 14px;
			}

			@media screen and (max-width: 576px) {
				font-size: 12px;
				padding: 12px 28px;
			}

			&:hover {
				background: $clrBlue;
				color: $clrWhite;
			}

			&.active {
				background: $clrBlue;
				color: $clrWhite;
			}
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
		gap: rem(60) rem(30);

		@media screen and (max-width: 1440px) {
			gap: rem(56) rem(30);
		}

		@media screen and (max-width: 1200px) {
			grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
			gap: rem(45) rem(24);
		}

		@media screen and (max-width: 991px) {
			grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
			gap: rem(30) rem(20);
		}
	}
}

.project {
	padding: 42px 35px 47px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 24px;
	position: relative;
	aspect-ratio: 16/9.5;
	border-radius: rem(20);
	background-blend-mode: color;

	@media screen and (max-width: 1440px) {
		padding: 36px 30px 42px;
	}

	@media screen and (max-width: 576px) {
		padding: 30px 24px 32px;
	}

	@media screen and (max-width: 400px) {
		padding: 30px 16px 32px;
	}

	// @media screen and (max-width: 1200px) {
	// 	margin-top: 45px;
	// }

	&__tag {
		font-size: rem(14);
		line-height: (1.2);
		padding: 10px 16px;
		border-radius: 30px;
		background: $clrWhite;
		color: $clrDark;
	}

	&__logo {
		background: $clrWhite;
		border-radius: rem(20);
		width: calc(200 / 665 * 100%);
		aspect-ratio: 20 / 15;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 120px;

		& img {
			max-width: 85%;
		}
	}

	&__top {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 20px;
	}

	&__bottom {
		width: calc(100% - 70px);
	}

	&__company {
		color: $clrWhite;
		margin-bottom: 10px;
	}

	&__title {
		color: $clrWhite;
		transition: all 0.3s;
	}

	&__more {
		position: absolute;
		border-radius: 20px;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $clrBlue;
		right: 35px;
		bottom: 50px;
		color: $clrWhite;
		transition: all .3s;

		@media screen and (max-width: 576px) {
			bottom: 32px;
			right: 24px;
		}
	}

	&:hover {

		& .project {
			&__title {
				color: $clrBlue;
			}

			&__more {
				width: 60px;
			}
		}
	}
}

.pagination {
	display: flex;
	gap: 12px;
	margin-top: 60px;

	@media screen and (max-width: 1440px) {
		margin-top: 56px;
	}

	@media screen and (max-width: 1200px) {
		margin-top: 45px;
	}

	&_list {
		display: flex;
		gap: 12px;

		@media screen and (max-width: 576px) {
			gap: 8px;
		}
	}

	&_item {
		font-size: 16px;
		line-height: 1.4;

	}

	&_prev {

		& svg {
			transform: scaleX(-1);
		}
	}
}