.marks {
    display: flex;
    position: relative;
    align-items: center;

    &.small {

        & .marks__item {
            width: 32px;
            height: 32px;

            &:not(:first-child) {
                margin-left: -12px;
            }
        }
    }

	 &.column {
		flex-direction: column;

		& .marks__item {
			width: 32px;
			height: 32px;

			&:not(:first-child) {
				 margin-top: -12px;
				 margin-left: 0;
			}
	  }
	 }

    &__item {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        outline: 2px solid $clrBorder;

        &:not(:first-child) {
            margin-left: -20px;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.with_plus {

        &::before {
            content: url('../img/sprites/plus.svg');
            position: absolute;
            display: block;
            width: 15px;
            height: 15px;
            right: calc(100% + 8px);

            @media screen and (max-width: 991px) {
                display: none;
            }
        }
    }
}