// Переменные, миксины, функции
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

// CSS-файлы библиотек
@import "vendor/libs";

// Основное
@import "base/fonts";
@import "base/general";

// БЭМ-блоки
@import "../blocks/modules";

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
}

.main {
	flex-grow: 1;
}