.feedback {
  padding-top: 110px;
  padding-bottom: 122px;
  overflow: hidden;
  position: relative;
}
.feedback::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -170px;
  -o-object-fit: contain;
     object-fit: contain;
  left: 69.7916666667%;
  width: 780px;
  aspect-ratio: 1/1;
  background-image: url(../img/sprites/blue_decor.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
  .feedback::after {
    width: 650px;
  }
}
@media screen and (max-width: 768px) {
  .feedback::after {
    width: 600px;
    bottom: 0;
    left: 30%;
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .feedback::after {
    bottom: 15%;
    left: 20%;
  }
}
@media screen and (max-width: 576px) {
  .feedback::after {
    width: 110%;
    bottom: 25%;
    left: 12%;
  }
}
@media screen and (max-width: 991px) {
  .feedback {
    padding-top: 96px;
    padding-bottom: 112px;
  }
}
@media screen and (max-width: 768px) {
  .feedback {
    padding-top: 82px;
    padding-bottom: 0;
    border-radius: 50px;
  }
}
@media screen and (max-width: 576px) {
  .feedback {
    padding-top: 70px;
    border-radius: 40px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 400px) {
  .feedback {
    padding-top: 56px;
    padding-bottom: 0;
  }
}
.feedback__cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  .feedback__cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 80px;
  }
}
.feedback__col {
  width: calc((100% - 30px) / 2);
}
@media screen and (max-width: 991px) {
  .feedback__col {
    width: 100%;
  }
}
.feedback__form {
  width: calc((100% - 15px) / 6 * 4);
  color: var(--clrWhite);
}
@media screen and (max-width: 1440px) {
  .feedback__form {
    width: calc((100% - 15px) / 6 * 5);
  }
}
@media screen and (max-width: 1200px) {
  .feedback__form {
    width: 100%;
  }
}
.feedback__form_title {
  margin-bottom: 47px;
}
@media screen and (max-width: 991px) {
  .feedback__form_title {
    margin-bottom: 42px;
  }
}
.feedback__form_fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin-bottom: 30px;
}
.feedback__form input::-webkit-input-placeholder {
  color: var(--clrWhite);
}
.feedback__form input::-moz-placeholder {
  color: var(--clrWhite);
}
.feedback__form input:-ms-input-placeholder {
  color: var(--clrWhite);
}
.feedback__form input::-ms-input-placeholder {
  color: var(--clrWhite);
}
.feedback__form input::placeholder {
  color: var(--clrWhite);
}
.feedback__form .label_checkbox input:checked + span.checkbox {
  background: var(--clrWhite);
}
.feedback__form .label_checkbox input:checked + span.checkbox svg {
  opacity: 1;
}
.feedback__form .label_checkbox span.checkbox {
  border-color: var(--clrWhite);
  color: var(--clrBlue);
}
.feedback__form .label_checkbox span.checkbox svg {
  opacity: 0;
}
.feedback__scls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  gap: 14px;
  margin-top: 76px;
}
@media screen and (max-width: 1200px) {
  .feedback__scls {
    margin-top: 64px;
  }
}
@media screen and (max-width: 768px) {
  .feedback__scls {
    margin-top: 56px;
  }
}
.feedback__img {
  aspect-ratio: 1/1;
  width: calc((100% - 15px) / 6 * 5);
  border-radius: 40px;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .feedback__img {
    width: calc((100% - 15px) / 6 * 5);
  }
}
@media screen and (max-width: 1200px) {
  .feedback__img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .feedback__img {
    width: 100vw;
    margin-left: -20px;
  }
}
@media screen and (max-width: 576px) {
  .feedback__img {
    margin-left: -16px;
  }
}
.feedback__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 40px;
}
.feedback__img::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  top: 53px;
  left: 42px;
  background: #3975BB;
}
@media screen and (max-width: 991px) {
  .feedback__img::before {
    display: none;
  }
}/*# sourceMappingURL=feedback.css.map */