.popup {
	position: fixed;
	width: 100%;	
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 10000;
	background: rgba($color: $clrBlack, $alpha: 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;

	&__content {
		width: 90%;
		max-width: 1130px;
		background: $clrWhite;
		border-radius: 20px;
		display: flex;
		min-height: 560px;
		// height: 600px;
		position: relative;

		@media screen and (max-width: 576px) {
			width: calc(100% - 32px);
		}

		&_form {
			flex-grow: 1;
			padding: 76px 120px;
			min-height: 560px;
		overflow-y: auto;

			@media screen and (max-width: 1200px) {
				padding: 76px 96px;
			}
			@media screen and (max-width: 991px) {
				padding: 56px 72px;
			}
			@media screen and (max-width: 768px) {
				padding: 42px 56px;
			}
			@media screen and (max-width: 576px) {
				padding: 32px 24px;
			}
			@media screen and (max-width: 400px) {
				padding: 32px 16px;
			}
		}
	}

	&__bg {
		width: calc(460 / 1130 * 100%);
		background: url(../img/popup_img.png) $clrLightBlue;
		border-radius: 20px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right;
		flex-shrink: 0;

		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	& .btn_close {
		position: absolute;
		top: 32px;
		right: 32px;

		@media screen and (max-width: 768px) {
			top: 24px;
		right: 24px;
		}
		@media screen and (max-width: 576px) {
			// padding: 32px 24px;
			top: 20px;
		right: 20px;
		}
		@media screen and (max-width: 400px) {
			// padding: 32px 16px;
			top: 16px;
		right: 16px;
		}
	}

	&__form {
		position: relative;

		&_title {
			margin-bottom: 46px;
			color: $clrDark;

			@media screen and (max-width: 991px) {
				margin-bottom: 32px;
			}

			@media screen and (max-width: 576px) {
				width: calc(100% - 40px);
			}
		}

		&_subtitle {
			color: $clrDarkGray;
			margin-top: 10px;
		}

		&_type {
			display: flex;
			flex-wrap: wrap;
			gap: 12px 24px;
			margin-bottom: 46px;

			@media screen and (max-width: 991px) {
				margin-bottom: 32px;
			}
		}

		&_fields {
			display: flex;
			flex-direction: column;
			gap: 24px;
			margin-bottom: 32px;

			@media screen and (max-width: 991px) {
				margin-bottom: 24px;
			}
		}

		& .input {
			& input {
				padding: 20px 32px;
				border-radius: 60px;
				border: 2px solid $clrDarkGray;
				color: $clrDarkGray;
				width: 100%;

				&::placeholder {
					color: $clrDarkGray;
				}
			}
		}

	}
}

.form {

	&__success {
		position: absolute;
		opacity: 0;
		visibility: hidden;
	}
}