.news {
	padding-top: 126px;
	padding-bottom: 82px;

	@media screen and (max-width: 1200px) {
		padding-top: 106px;
		padding-bottom: 76px;
	}

	@media screen and (max-width: 768px) {
		border-radius: 50px;
		padding-top: 82px;
		padding-bottom: 72px;
	}

	@media screen and (max-width: 576px) {
		border-radius: 40px;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	&.grid {
		margin-top: 120px;
    margin-bottom: 120px;
	 padding-top: 0;
	 padding-bottom: 0;
	 
		@media screen and (max-width: 1200px) {
			margin-top: 110px;
			margin-bottom: 110px;
		}

		@media screen and (max-width: 768px) {
			margin-bottom: 100px;
			margin-top: 100px;
		}

		& .news {

			&__list {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
				gap: 30px;
			}

			&__slide {
				border: 1px solid $clrBorder;
			}

			&__first {
				margin-bottom: 30px;

				& .services{

					&__result {

						&_item {
							display: flex;
							flex-direction: row;

							@media screen and (max-width:991px) {
								flex-direction: column;
							}
						}

					}
				}

				& .service {
					color: $clrDark;

					&__title {
						margin-top: 42px;
						margin-bottom: 24px;

						@media screen and (max-width:1440px) {
							margin-top: 36px;
						}

						@media screen and (max-width:1200px) {
							margin-top: 32px;
						}

						@media screen and (max-width:768px) {
							margin-top: 24px;
						}

						& h2 {
						font-size: clamp(1.375rem, 1.27rem + 0.4vw, 1.75rem);
					}}

					& .text_content {
						width: 95%;


						& p {
							@media screen and (max-width:576px) {
							font-size: 14px;
						}
						}
						
					}
					&__preview {
						flex-shrink: 0;
						width: calc(434 / 1362 * 100%);
						height: auto;
						aspect-ratio: 434 / 424;

						@media screen and (max-width:1200px) {
							width: calc((100% - 30px) / 2);
						}

						@media screen and (max-width:991px) {
							width: 100%;
							aspect-ratio: 16 / 9;
						}
					}

					&__content {

						@media screen and (max-width:768px) {
							padding: 24px;
						}
					}

				}
			}
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 20px 42px;
		margin-bottom: rem(40);
	}

	& .swiper-pagination {
		position: static;margin-top: 52px;
		display: flex;
		gap: 19px;
		justify-content: center;

		@media screen and (max-width: 768px) {
			margin-top: 44px;
		}
	
		@media screen and (max-width: 576px) {
			margin-top: 40px;
		}

		&-bullet {
			width: 10px;
			height: 10px;
			background: $clrBorder;
			opacity: 1;
			margin: 0 !important;

			&-active {
				background: $clrBlue;
			}
		}
	}

	&__slide {
		display: flex;
		flex-direction: column;
		border-radius: rem(20);
		background: $clrWhite;

		&_preview {
			border-radius: rem(20);
			overflow: hidden;
			width: 100%;
			aspect-ratio: 16 / 9.4;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 0.5s;
				will-change: transform;
				transform-origin: center;
			}
		}

		&_num {
			position: absolute;
			top: 14px;
			left: 14px;
			width: 46px;
			height: 46px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			background: $clrGray;
			color: $clrDarkGray;
			font-size: 1.125rem;
			line-height: 1;
			font-weight: 600;
		}

		&_desc {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			padding: rem(32);

			@media screen and (max-width: 768px) {
				padding: 24px 28px;
			}
		
			@media screen and (max-width: 576px) {
				padding: 22px 18px 24px;
			}
		}

		&_date {
			display: flex;
			align-items: center;
			gap: rem(10);
			color: $clrDarkGray;
			font-size: 12px;
			margin-bottom: 16px;
		}

		&_title {
			color: $clrDark;
			margin-bottom: 18px;
			transition: all 0.5s
		}

		&_text {
			font-size: 12px;
			line-height: 1.1;
			color: $clrDarkGray;
			margin-bottom: 28px;
		}

		&_more {
			display: flex;justify-content: flex-start;
			gap: 10px;
			align-items: center;
			color: $clrBlue;
			margin-top: auto;
			transition: all 0.5s;
		}
		&:hover {

			& .news {

				&__slide {
					&_preview {

						& img 	{
							transform: scale(1.05);

						}
					}

					&_title {
						color: $clrPink;
					}

					&_more{
						color: $clrPink;
					}
				}

				
			}
		}
	}
}