.why-works {
	position: relative;
	z-index: 9;
	overflow: hidden;

	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0px;
		object-fit: contain;
		// left: calc(1200 / 1920 * 100%);
		right: 0;
		width: 560px;
		aspect-ratio: 1 / 1;
		background-image: url(../img/gray_decor.png);
		background-size: contain;
		// transform: rotate(-58deg);


		@media screen and (max-width: 1200px) {
			width: 460px;
		}

		@media screen and (max-width: 768px) {
			width: 300px;

		}

		@media screen and (max-width: 576px) {
			display: none;
		}


		@media screen and (max-width: 400px) {}
	}

	&.no_decor {
		overflow: visible;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 30px;


		@media screen and (max-width: 1200px) {
			grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		gap: 24px;
		}

		@media screen and (max-width: 991px) {
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			gap: 20px;
		}

		@media screen and (max-width: 768px) {
			grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
			gap: 16px;
		}

		&_with-image {
			display: flex;
			flex-wrap: wrap;
		// grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 30px;


		@media screen and (max-width: 1200px) {
			// grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		gap: 24px;
		}

		@media screen and (max-width: 991px) {
			// grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			gap: 20px;
		}

		@media screen and (max-width: 768px) {
			// grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
			gap: 16px;
		}

			& .advs {

				&__item {
					flex: 1 0 350px;
					background: var(--clrGray) !important;
					pointer-events: none;

					@media screen and (max-width: 1200px) {
						flex-basis: 250px;
					}
			
					@media screen and (max-width: 991px) {
						flex-basis: 220px;
					}
			
					@media screen and (max-width: 768px) {
						min-height: 180px;
						flex-basis: 250px;
					}

					&_icon {
						color: var(--clrGray) !important;
					}
					&:nth-child(-n+4) {
						flex: 1 0 500px;

						@media screen and (max-width: 1200px) {
							flex-basis: 450px;
						}

						@media screen and (max-width: 991px) {
							flex-basis: 350px;
						}
						@media screen and (max-width: 768px) {
							min-height: 180px;
							flex-basis: 250px;
						}
					}
				}
			}
		}
	}

	& .advs {


		&__item {
			background: $clrWhite;
			flex-direction: column;
			border: none;
			transition: all .3s;
			position: relative;
			overflow: hidden;

			& img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
				object-position: center;
			}

			@media screen and (max-width: 768px) {
				gap: 8px;
			}

			&:hover {
				background: $clrBlue;
				color: $clrWhite;
				position: relative;

				& .advs__item_icon {
					color: $clrBlue;
					text-shadow: -1px 1px 0px $clrWhite, 1px 1px 0px $clrWhite, 1px -1px 0 $clrWhite, -1px -1px 0 $clrWhite;
				}

				// &::after {
				// 	content: url(../img/sprites/CheckCircle.svg);
				// 	position: absolute;
				// 	top: 10px;
				// 	right: 12px;
				// }
			}

			&_title {
				font-size: 1.125rem;
			}

			&_icon {
				color: $clrWhite;
				font-size: 40px;
				font-weight: 900;
				line-height: 1.2;
				text-transform: uppercase;
				text-shadow: -1px 1px 0px $clrPink, 1px 1px 0px $clrPink, 1px -1px 0 $clrPink, -1px -1px 0 $clrPink; 
				transition: all 0.3s;

				@media screen and (max-width: 768px) {
					font-size: 36px;
				}
			}
		}

	}
}