h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
	padding: 0;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s;
	color: $clrDark;
	gap: 10px;

	&_light {
		background: $clrLightBlue;

		&:hover {
			background: $clrBlue;
			color: $clrWhite;
		}
	}

	&_circle {
		width: 54px;
		height: 54px;
		border-radius: 50%;

		@media screen and (max-width:1200px) {
			width: 40px;
			height: 40px;

			& svg {
				width: 24px;
				height: 24px;
			}
		}
	}

	&_primary {
		color: $clrWhite;
		background: $clrBlue;

		&:hover {
			background: $clrPink;
			// color: $clrDarkGray;
		}
	}

	&_burger {
		display: flex;
		align-items: center;
		font-size: rem(18);
		gap: 10px;
		font-weight: 500;
		height: 100%;

		& .lines {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 16px;
			height: 11px;

			& .line {
				display: inline-block;
				width: 100%;
				height: 1px;
				background: currentColor;
				position: absolute;

				&:first-child {
					top: 0;
				}

				&:nth-child(2) {
					top: 5px;
				}

				&:last-child {
					bottom: 0;
				}
			}
		}

		&:hover {
			color: $clrBlue;
		}
	}

	& svg {
		flex-shrink: 0;
	}
}

.phone_link {
	color: $clrWhite;
	font-size: rem(24);
	line-height: (29 / 24);
	font-weight: 700;
	text-decoration: none;
	position: relative;
	transition: all .3s;
	display: flex;
	width: min-content;
	white-space: nowrap;

	&::after {
		content: '';
		width: 0;
		height: 2px;
		background: $clrWhite;
		transition: all .3s;
		display: block;
		position: absolute;
		top: 100%;
	}

	&:hover {

		// color: $clrBlue;
		&::after {
			width: 100%;
		}
	}

	@media screen and (max-width:1200px) {
		font-size: 1.25rem;
	}
}

.min1200 {
	display: flex !important;

	@media screen and (max-width: 1200px) {
		display: none !important;
	}
}

.max1200 {
	display: none !important;

	@media screen and (max-width: 1200px) {
		display: flex !important;
	}
}

.min991 {
	display: flex !important;

	@media screen and (max-width: 991px) {
		display: none !important;
	}
}

.max991 {
	display: none !important;

	@media screen and (max-width: 991px) {
		display: flex !important;
	}
}

.min768 {
	display: flex !important;

	@media screen and (max-width: 768px) {
		display: none !important;
	}
}

.max768 {
	display: none !important;

	@media screen and (max-width: 768px) {
		display: flex !important;
	}
}

.min576 {
	display: flex !important;

	@media screen and (max-width: 576px) {
		display: none !important;
	}
}

.max576 {
	display: none !important;

	@media screen and (max-width: 576px) {
		display: flex !important;
	}
}

.logo img {
	@media screen and (max-width: 400px) {
		width: 120px;
	}
}